body {

    background-color: #214F4B;

}


.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana;
  }

.topnav a:hover {
    font-weight: bold;
}

.topnav a.active {
    font-weight: bold;
}
   


.body-containers div {
    float: left;
}

#left-side {
    width: 60%;
    top: 50%;

}

#right-side {
    width: 40%;

}

#greeting {
    padding-top: 200px;
    color: white;
    font-family: Verdana;
    font-size: 45px;
    width: 800px;
}

#memoji {
    background-color: white;
    border-radius: 50%;
}


.logos {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}